@page "/trips/edit/{Id:long}"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks

@inject NavigationManager NavigationManager
@inject ILogger<Index> Logger
@inject HttpClient Http
@inject SharedLib.LoginState loginState;

<h3>Muokkaa matkaa</h3>

<a href="/trips">Omat matkat</a>
@if (loginState.isLoggedIn) { 




}
@code {
    [Parameter]
    public long? IdMatka { get; set; }

    bool isSubmitting;
    SharedLib.matkaDTO? editTrip; 

    protected override async Task OnInitializedAsync()
    {

        editTrip = await Http.GetFromJsonAsync<SharedLib.matkaDTO>($"api/Matkas/{IdMatka}");

        await base.OnInitializedAsync();
    }


    //TARKISTA TOIMIIKO

    async Task EditTrips(){
        isSubmitting = true;
        var result = await Http.PutAsJsonAsync($"api/Matkas/{IdMatka}", editTrip);

        NavigationManager.NavigateTo($"/trips");
    }
}
