@page "/"





@if (sebastian == "welho")
{
    <h1>Kuopion Kulkijat ry</h1>
    <h2> eli tuttavammin KuoLijat, toivottaa sinut tervetulleeksi sivuilleen.</h2>
    <div class="palsta">
        <div>
            <img src="/images/index.png" width="450" height="300" />
            <p>Sebastian vähän lepää</p>
 
        <NavLink class="nav-link" href="test">
            <span class="oi oi-beaker" aria-hidden="true"></span> SALAINEN TESTISIVU
        </NavLink>
                   </div>
    </div>
    <div  class="palsta2">
      
    </div>


 
}
else
{
    <h2>  <img src="/images/loading.gif" width="150" /></h2>

}
@code{
    private string sebastian = "welho";
    
    
   
}