@page "/locations"
<h3>Matkakoheet</h3>

@*voi lisätä, poistaa, päivittää ja selata matkakohteita.
Sellaista matkakohdetta, johon liittyy joku matkakertomus, ei saa poistaa tai päivittää*@


@code {

}
