@page "/locations"
<h1>Matkakoheet</h1>

@*voi lisätä, poistaa, päivittää ja selata matkakohteita.
Sellaista matkakohdetta, johon liittyy joku matkakertomus, ei saa poistaa tai päivittää*@


@code {

}
