@page "/signup"
<h1>Rekisteröidy</h1>

<div class="card">

    <div class="card-body">
       
        <form>              
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="materialFormCardNameEx" class="form-control">
                <label for="materialFormCardNameEx" class="font-weight-light">Nimesi</label>
            </div>
          
                   <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="materialFormCardNameEx" class="form-control">
                <label for="materialFormCardNameEx" class="font-weight-light">Nimimerkki</label>
            </div>


            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="materialFormCardEmailEx" class="form-control">
                <label for="materialFormCardEmailEx" class="font-weight-light">Sähköpostiosoite</label>
            </div>                       

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="materialFormCardPasswordEx" class="form-control">
                <label for="materialFormCardPasswordEx" class="font-weight-light">Salasana</label>
            </div>
            <div>
                <input type="radio" asp-for="AcceptTerms" value="true" />
                <label>
                    <a href="./terms">Hyväksyn käyttöehdot</a>
                </label>
            </div>
            <button class="btn btn-primary" >rekisteröidy</button>
        </form>   

    </div>
  

</div>

@*
Sovelluksessa pitää pystyä rekisteröitymään (sign up). 
Rekisteröitymisessä annetaan vähintään 

nimitiedot,
nimimerkki, 
sähköpostiosoite ja 
salasana. 

Muut tiedot voi antaa omissa tiedoissa*@.

@code {

}
