@page "/signup"
<h1>Rekisteröidy</h1>
<div class="palsta">
    <form action="#" method="post">
        <div class="form-group">
            <label for="etunimi">Etunimi</label>
            <input type="text" class="form-control" id="etunimi" placeholder="Etunimi">
        </div>

        <div class="form-group">
            <label for="sukunimi">Sukunimi</label>
            <input type="text" class="form-control" id="sukunimi" placeholder="Sukunimi">
        </div>

        <div class="form-group">
            <label for="nimimerkki">Nimimerkki</label>
            <input type="text" class="form-control" id="nimimerkki" placeholder="Nimimerkki">
        </div>

        <div class="form-group">
            <label for="sähköpostiosoite">Sähköpostiosoite</label>
            <input type="email" class="form-control" id="sähköpostiosoite" placeholder="Sähköpostiosoite">
        </div>

        <div class="form-group">
            <label for="salasana">Salasana</label>
            <input type="password" class="form-control" id="salasana" placeholder="Salasana">
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" required>
                <label class="form-check-label" for="exampleRadios1">
                    Hyväksyn <a href="/terms">käyttöehdot </a>lukematta niitä.
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Rekisteröidy</button>
        <NavLink class="nav-link" href="login">
            <span class="oi oi-lock-locked" aria-hidden="true"></span> Kirjaudu sisään
        </NavLink>
    </form>
</div>



@*
Sovelluksessa pitää pystyä rekisteröitymään (sign up). 
Rekisteröitymisessä annetaan vähintään 


etunimi,
sukunimi,
nimimerkki, 
sähköpostiosoite ja 
salasana. 

Muut tiedot voi antaa omissa tiedoissa*@.

@code {

    //NÄMÄ USERNAME JA PASSWORD ON NYT VAAN MALLINA. MIETITÄÄN MITÄN NÄMÄ YMPPÄYTYY SIIHEN DBHEN Kirjautuminen tapahtuu sähköpostiosoitteen ja salasanan avulla.

    private string Email { get; set; }
    private string Password { get; set; }

    private async Task login()

    {
        //var result = await _db.Login(Email, Password);
        //if (!result)
        //{

        //    //lahjoitaSimolleRahaa();
        //}
        //else
        //{
        //    //meeToihinJaLahjoitaSimolleRahaa();
        //}


    }

}
