@page "/terms"
<img src="/images/varoitus.png" class="keskitys"/>
<h1>Käyttöehdot</h1>
<ul>
  <li>Pyöräily on hauskaa, mutta muista aina turvallisuus.</li>
  <li>Älä koskaan käytä puhelinta ajaessasi.</li>
  <li>Vältä juomista ja ajamista - juokseminen on paljon turvallisempaa.</li>
  <li>Huolehdi pyöräsi huolellisesti - se pitää sinut turvassa.</li>
  <li>Muista noudattaa kaikkia liikennesääntöjä.</li>
  <li>Käytä aina suojavarusteita.</li>
  <li>Käytä sivustoamme omalla vastuullasi. Emme ole vastuussa mistään vahingoista tai haitoista, joita saattaa aiheutua sivuston käytöstä.</li>
  <li>Nauti pyöräilystä!</li>
</ul>

<pre>
Tämän vastuuvapautuksen tarkoituksena on ilmaista, että osallistuja pyöräilytapahtumaan osallistuu omalla vastuullaan. 
Osallistuja hyväksyy, että pyöräily on luonnollisesti riskialtista ja että osallistuja on tietoinen niistä riskeistä. 
Osallistuja vakuuttaa, että hänen pyöränsä ja varusteensa ovat turvallisessa kunnossa ja että hän on riittävän koulutettu ja kokematon pyöräillä tapahtumassa.
Järjestäjä ei ole vastuussa mistään vammasta, loukkaantumisesta tai kuolemasta, joka aiheutuu osallistujan omasta huolimattomuudesta tai laiminlyönnistä. 
Järjestäjä ei myöskään ole vastuussa mistään vahinkoista tai tappioista, jotka aiheutuvat osallistujan pyörän tai varusteiden rikkoontumisesta tai hukkumisesta.
Osallistuja hyväksyy tämän vastuuvapautuksen osallistumalla tapahtumaan ja vakuuttaa, että hän on lukenut ja ymmärtänyt sen sisällön. 
Järjestäjällä on oikeus poistaa osallistuja tapahtumasta, jos hän ei noudata tapahtuman sääntöjä tai jos hänen käytöksensä on vaarallista muille osallistujille."
Tämä on vain esimerkki, ja tämänkaltaiset tekstit tulee aina tarkistaa lakimieheltä. On tärkeää huomioida että tämänkaltaiset tekstit eivät poista järjestäjän tai osallistujan vastuuta lain mukaan.</pre>


@code {

}
