@page "/terms"

<h1>Käyttöehdot</h1>


<div class="palsta">
    <pre>
Pyöräily on hauskaa ja turvallisuus on tärkeä osa sitä. 
Käyttäjä sitoutuu aina noudattamaan seuraavia sääntöjä turvallisen pyöräilykokemuksen varmistamiseksi:

-Älä koskaan käytä puhelinta ajaessasi.
-Vältä juomista ja ajamista. Juokseminen on paljon turvallisempaa.
-Huolehdi pyöräsi huolellisesti, sillä se pitää sinut turvassa.
-Muista noudattaa kaikkia liikennesääntöjä.
-Käytä aina suojavarusteita.
-Sivuston käyttö on käyttäjän vastuulla ja järjestäjä ei ole vastuussa mistään vahingoista 
tai haitoista, joita saattaa aiheutua sivuston käytöstä.

Osallistuessasi pyöräilytapahtumaan, olet tietoinen siitä, että pyöräily on luonnollisesti riskialtista ja
että olet vastuussa omasta turvallisuudestasi. 
Varmista, että pyöräsi ja varusteesi ovat turvallisessa kunnossa ja
että olet riittävän koulutettu ja kokematon pyöräillä tapahtumassa.

Järjestäjä ei ole vastuussa mistään vammasta, loukkaantumisesta tai
kuolemasta, joka aiheutuu osallistujan omasta huolimattomuudesta tai laiminlyönnistä. 
Järjestäjä ei myöskään ole vastuussa mistään vahinkoista tai
tappioista, jotka aiheutuvat osallistujan pyörän tai varusteiden rikkoontumisesta tai hukkumisesta.

Osallistumalla tapahtumaan, hyväksyt tämän vastuuvapautuksen ja
vakuutat, että olet lukenut ja ymmärtänyt sen sisällön. 
Järjestäjällä on oikeus poistaa osallistuja tapahtumasta, jos osallistuja ei noudata tapahtuman sääntöjä tai
jos hänen käytöksensä on vaarallista muille osallistujille.


</pre>
</div>"
<div class="palsta2"><img src="/images/varoitus.png" /></div>


@code {

}
