@page "/terms"
<h1>Käyttöehdot</h1>
<ul>
  <li>Pyöräily on hauskaa, mutta muista aina turvallisuus.</li>
  <li>Älä koskaan käytä puhelinta ajaessasi.</li>
  <li>Vältä juomista ja ajamista - juokseminen on paljon turvallisempaa.</li>
  <li>Huolehdi pyöräsi huolellisesti - se pitää sinut turvassa.</li>
  <li>Muista noudattaa kaikkia liikennesääntöjä.</li>
  <li>Käytä aina suojavarusteita.</li>
  <li>Käytä sivustoamme omalla vastuullasi. Emme ole vastuussa mistään vahingoista tai haitoista, joita saattaa aiheutua sivuston käytöstä.</li>
  <li>Nauti pyöräilystä!</li>
</ul>

<h1>Användarvillkor</h1>
<ul>
  <li>Cykling är kul, men kom ihåg alltid säkerheten.</li>
  <li>Använd aldrig din telefon när du cyklar.</li>
  <li>Undvik att dricka och cykla - springa är mycket säkrare.</li>
  <li>Sköt om din cykel noga - det håller dig säker.</li>
  <li>Kom ihåg att följa alla trafikregler.</li>
  <li>Använd alltid skyddsutrustning.</li>
  <li>Använd vår hemsida på eget ansvar. Vi är inte ansvariga för någon skada eller förlust som kan uppstå från användning av hemsidan.</li>
  <li>Ha kul med cykling!</li>
</ul>

<h1>Terms of Use</h1>
<ul>
    <li>Cycling is fun, but always remember safety.</li>
    <li>Never use your phone while cycling.</li>
    <li>Avoid drinking and cycling - running is much safer.</li>
    <li>Take care of your bike properly - it keeps you safe.</li>
    <li>Remember to follow all traffic rules.</li>
    <li>Always use protective gear.</li>
    <li>Use our website at your own risk. We are not responsible for any damages or losses that may occur from using the website.</li>
    <li>Enjoy cycling!</li>
</ul>


@code {

}
