@page "/test"
@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@using Microsoft.AspNetCore.Components.Web

<h1>Test Page</h1>
<h2>@_errorMessage</h2>
<div>
    <InputFile OnChange="@HandleFileSelected" />

    @if (!string.IsNullOrEmpty(_imageUrl))
    {
        <img src="@_imageUrl" />
    }
    <button @onclick="UploadFile" disabled="@(_file == null)">Upload</button>
</div>

@code {
    private IBrowserFile _file;
    private string _imageUrl;
    private string _errorMessage;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        _file = e.File;
        if (_file != null)
        {
            _imageUrl = "/images/loading.gif";
        }
    }

    private async Task UploadFile()
    {
        try
        {
            if (_file == null)
            {
                return;
            }

            // Clear the image source and file variable after uploading
            var fileName = Path.Combine("wwwroot", "uploadedPictures", _file.Name);
            using var stream = new FileStream(fileName, FileMode.Create);
            await _file.OpenReadStream().CopyToAsync(stream);

            // Tyhjennä kuvan lähde ja tiedostomuuttuja lataamisen jälkeen
            _imageUrl = null;
            _file = null;
        }
        catch (Exception ex)
        {
            _errorMessage = "Error: " + ex.Message;
        }
    }
}
