@page "/test";

  <h1>H1 on tämän näköinen</h1>
  <h2>H2 on tämän näköinen</h2>
<h3>H3 on tämän näköinen</h3>
<h4>H4 on tämän näköinen</h4>
<h5>H5 on tämän näköinen</h5>
<h6>H6 on tämän näköinen</h6>

  <p>p elementti näyttää tältä. </p>
 

  <a href="#">Linkit näyttää tältä</a>


  <ul>
    <li>Ul lista</li>
    <li>Ul lista</li>
    <li>Ul lista</li>
  </ul>

  <ol>
    <li>Ol lista</li>
    <li>Ol lista</li>
    <li>Ol lista</li>
  </ol>
  <p> Kuvat löytyvät kansiosa wwwroot/images. Tallennetaan kaikki käytettävät kuvat samaan paikkaan.</p>

  <blockquote>
    Tämä olisi  blockquote
  </blockquote>

  <button class="nappi"> klikkaa mua</button>


<table>
    <tr >
        <th>Koodi</th>
        <th>Ulostulo</th>
    </tr>
    <tr>
        <td>/images/index.jpg</td>
        <td><img src="/images/index.png" width="200px"></td>
    </tr>
    <tr>
        <td>/images/ikavaTapahtuma.jpg</td>
        <td><img src="/images/ikavaTapahtuma.jpg" width="200px"></td>
    </tr>
    <tr>
        <td>/images/aiVittuMunPolvi.png</td>
        <td><img src="/images/aiVittuMunPolvi.png" width="200px"></td>
    </tr>
    <tr>
    <td>/images/darra.jpg</td>
        <td><img src="/images/darra.jpg" width="200px"></td>
    </tr>
    <tr>
        <td>/images/EiJaksaEnaaMetriakaan.jfif</td>
        <td><img src="/images/EiJaksaEnaaMetriakaan.jfif" width="200px"></td>
    </tr>
    <tr>
        <td>/images/EnSaanuTaaskaan.jpg</td>
        <td><img src="/images/EnSaanuTaaskaan.jpg" width="200px"></td>
    </tr>
    <tr>
        <td>/images/ikavaTapahtuma.jpg</td>
        <td><img src="/images/ikavaTapahtuma.jpg" width="200px"></td>
    </tr>
    <tr>
        <td>/images/KamalaKramppi.jpg</td>
        <td><img src="/images/KamalaKramppi.jpg" width="200px"></td>
    </tr>
    <tr>
        <td>/images/siluetti.png</td>
        <td><img src="/images/siluetti.png" width="200px"></td>
    </tr>
    <tr>
        <td>/images/Ummetus.jpg</td>
        <td><img src="/images/Ummetus.jpg" width="200px"></td>
    </tr>
     <tr>
        <td>/images/tausta.png</td>
        <td><img src="/images/tausta.png" width="200px"></td>
    </tr>
   
    <tr>
        <td>/images/loading.gif</td>
        <td><img src="/images/loading.gif" width="200px"></td>
    </tr>
     <tr>
        <td>/images/logo.png</td>
        <td><img src="/images/logo.png" width="200px"></td>
</tr>
</table>
@code {
    

}
