@page "/user"
<h3>Käyttäjä</h3>

@*voi päivittää omia tietojaan (matkaaja-taulu). 
Sähköpostin ja salasanan muuttamista ei tarvitse sallia, 
mutta jos sen sallii, niin se pitää huomioida kirjautumisessa.*@

@code {

}
