@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
             <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true" />
            </NavLink>
        </div>

        <article class="content px-4">
            <div class="card">
                <div class="card-header">
                    <h2>Welcome to our Application</h2>
                </div>
                <div class="card-body">
                    @Body
                </div>
            </div>
        </article>
    </main>
</div>
