

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="logo">
        <img src="/images/logo.png" width="200px" />
        </div>
@*        NÄKYY KAIKILLE*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Etusivu
            </NavLink>
        </div>  
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="oi oi-map-marker" aria-hidden="true"></span> Matkakohteet
            </NavLink>
        </div>
      @*  NÄKYY KIRJAUTUNEILLE*@
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="grouptrips">
                <span class="oi oi-signpost" aria-hidden="true"></span> Porukan matkat
            </NavLink>
        </div>
               <div class="nav-item px-3">
            <NavLink class="nav-link" href="trips">
                <span class="oi oi-compass" aria-hidden="true"></span> Omat matkat
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-people" aria-hidden="true"></span> Jäsenet
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span class="oi oi-person" aria-hidden="true"></span> Omat tiedot
            </NavLink>
        </div>
        @*NÄKYY KAIKILLE paitsi kirjautuneille*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="signup">
                <span class="oi oi-flag" aria-hidden="true"></span> Rekisteröidy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Kirjaudu sisään
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
